body {
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  color: #878787;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #878787;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}
li:first-letter {
  text-transform: capitalize;
}
a {
  text-decoration: none;
  color: #7d8995;
}
a:hover {
  color: #dac79d;
}
.weather-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  background: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
  padding: 20px;
  border: 2px solid #b7b3b3;
  border-radius: 10px;
}
.overview {
  margin-bottom: 20px;
}
.units {
  color: #808072;
  font-size: 16px;
  font-weight: 100;
  position: relative;
  top: -48px;
}
#icon {
  color: #f0d9da;
  font-size: 45px;
  margin-right: 5px;
  width: 70px;
  position: relative;
  top: -30px;
}
#currentTemp {
  color: #516c8d;
  font-size: 60px;
  font-weight: 600;
  position: relative;
  top: -18px;
}
.active {
  color: #516c8d;
  cursor: default;
}
.active:hover {
  color: #516c8d;
  text-decoration: none;
}
